<!-- <button (click)="test()">Test</button>
<button (click)="login()">Login</button>
<button (click)="getData()">get data</button> -->


<div class="container" style="min-height: 15vw">
  <a class="btn btn-success" [routerLink]="['/login']">login</a>&nbsp;
  <a class="btn btn-danger" [routerLink]="['/about']">about</a>&nbsp;
  <a class="btn btn-info" [routerLink]="['/products']">products</a>&nbsp;
  <a class="btn btn-info" [routerLink]="['/free']">free</a>&nbsp;
</div>
<router-outlet></router-outlet>
